<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Marvelous</title>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/skeleton.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="container">
    	<div class="six columns"></div>
        <div class="ten columns">
            <img src="{{image}}" alt="Superhero" class="superimg">
            <h1 title="{{id}}">{{name}}</h1>
            <p class="description">{{description}}</p>
            <a href="{{details}}" class="button">Details</a>
        </div>
      
    </div>
</body>

</html>
